﻿@model UserForm

<div id="userDialog" class="modal hide">
  <div class="modal-header">
    <h3>@(Model.Id == null ? "Add User" : "Edit User")</h3>
  </div>
  <div class="modal-body">
    @using (Html.BeginForm("Save", "Users"))
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary("Please correct the following errors:")
      <fieldset>
        @Html.HiddenFor(m => m.Id)
        @Html.LabelFor(m => m.Email)@Html.TextBoxFor(m => m.Email)
        @Html.LabelFor(m => m.Password)@Html.PasswordFor(m => m.Password)
        @Html.LabelFor(m => m.ConfirmPassword)@Html.PasswordFor(m => m.ConfirmPassword)
      </fieldset>
    }
  </div>
  <div class="modal-footer">
    <input type="button" class="btn" data-dismiss="modal" value="Cancel" />
    <input type="button" class="btn btn-primary" data-action="submit" value="Save" />
  </div>
</div>
@*
Client validation is intentionally not turned on because of the awkwardness of confirm
password being required sometimes and sometimes not.
*@
<script type="text/javascript">
  require(['jquery'], function () {
    $(function () {
      setTimeout(function () {
        $("#userDialog #Email").focus();
      }, 25);
    });
  })
</script>