﻿@{
  ViewBag.Title = "Users";
  ViewBag.Section = "Edit";
}

<div class="row">
  <div class="span12">
    <div class="page-header clearfix">
      <button id="addUser" class="btn btn-primary" style="float: right;">Add User</button>
      <h3>Users</h3>
    </div>
    <table id="users" class="table table-striped table-bordered"></table>
  </div>
</div>

@section Scripts
{
  <script type="text/javascript">
    require(['jquery', 'users/list'], function ($, users) {
      $(function () {
        users.initialize({
          listUrl: '@Url.Action("ListData")',
          addUrl: '@Url.Action("Add")',
          editUrl: '@Url.Action("Edit")',
          deleteUrl: '@Url.Action("Delete")'
        });
      });
    });
  </script>
}
