﻿<div class="modal hide">
  <div class="modal-header"><h3>Confirm Delete</h3></div>
  <div class="modal-body">
    <div class="alert alert-danger">Are you sure that you want to delete this item? This action cannot be undone.</div>
    <form id="deleteForm" action="@ViewBag.Url" method="POST">
      @Html.HttpMethodOverride(HttpVerbs.Delete)
      @Html.AntiForgeryToken()
      @Html.Hidden("id", (object) ViewBag.Id)
    </form>
  </div>
  <div class="modal-footer">
    <input type="button" class="btn" data-dismiss="modal" value="Cancel" />
    <input type="button" class="btn btn-danger" data-action="submit" value="Delete" />
  </div>
</div>
