﻿@{
  var controller = (string) ViewContext.RouteData.Values["controller"];
}
<!doctype html>
<html lang="en">
  <head>
    @Html.Partial("_MetaTags")
    <title>MvcTemplate - @ViewBag.Title</title>

    @Html.Partial("_SiteWideCss")
    @RenderSection("Styles", required: false)

    @Html.Partial("_SiteWideJavaScript")
    @RenderSection("Scripts", required: false)
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">MvcTemplate</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li @if (controller == "Users") {<text>class="active"</text>}>@Html.ActionLink("Users", "Index", "Users")</li>
              </ul>
              <ul class="nav pull-right"><li>@(Request.IsAuthenticated ? Html.RouteLink("Log Off", "LogOff") : Html.RouteLink("Log On", "LogOn"))</li></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      @RenderBody()
    </div>
    <div id="jGrowl" class="jGrowl top-right"></div>
    <div id="ajaxFormModalContainer"></div>
  </body>
</html>